.container {
  border: solid 1px rgba(161, 163, 171, 1);
  border-radius: 14px;
  padding: 9px 14px;
  position: relative;
  margin: 10px 0;
  height: max-content;
}
.top-bar {
  /* width: calc(100%-28px); */
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2 {
  margin: 0;
  padding: 0;
}
.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.content {
  margin: -11px 27px 0 27px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.description {
}
.description > h2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.description > p {
  max-width: 232px;
  max-height: 51px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.01px;
  text-align: left;
  color: rgba(116, 116, 116, 1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Количество видимых строк */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-top: 10px;
}
.information {
  margin-top: 29px;
  display: flex;
  align-items: center;
}
.priority {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
}
.priority:nth-child(1) {
  margin-right: 13px;
}
.image-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.image {
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 14px;
  margin-top: 7px;
}
.created {
  width: 115px;
  margin-top: 14px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
  color: rgba(161, 163, 171, 1);
}
.status {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.dote-for-menu {
  cursor: pointer;
}
.menu-actions {
  position: relative;
}
.menu-actions > ul {
  top: -10px;
  left: 20px;
  border-radius: 8px;
  padding: 8px 5px;
  background-color: white;
  position: absolute;
}
.menu-actions > ul > li {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
  list-style: none;
  margin-bottom: 5px;
  cursor: pointer;
}
.menu-portal {
  border-radius: 8px;
  padding: 8px 5px;
  background-color: white;
  position: absolute;
  z-index: 20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-portal > li {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
  list-style: none;
  margin-bottom: 5px;
  cursor: pointer;
}
