.container {
  border: solid 1px rgba(161, 163, 171, 1);
  border-radius: 14px;
  padding: 16px 20px;
  position: relative;
  margin: 10px 0;
  height: 600px;
}
.head {
  display: flex;
  justify-content: end;
  margin-top: -16px;
  margin-right: -20px;
}
.head > button {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.img-and-options {
  display: flex;
  align-items: flex-end;
}

.image {
  width: 158px;
  height: 158px;
  object-fit: cover;
  border-radius: 14px;
}
.created {
  width: 115px;
  margin-top: 14px;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
  margin-top: 15px;
  color: rgba(161, 163, 171, 1);
}

.options {
  margin-left: 15px;
  text-align: start;
}
.status {
  margin-top: 16px;

  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
}

.content {
  margin: -11px 27px 0 27px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.description{
    
}
.description > p {
  width: 465px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.01px;
  text-align: left;
  color: rgba(116, 116, 116, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-top: 33px;
}
.buttons{
    position: absolute;
    bottom: 15px;
    right: 20px;
    
}
.buttons-flex{
    display: flex;
}
.buttons-flex>button{
    background-color: #FF6767;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    margin-right: 6px;
    padding: 0;
}