.container {
  width: 378px;
  height: 489px;
  position: absolute;
  top: 100px;
  right: 0;
  height: auto;
}
.top-bar {
  background-color: white;
  border-radius: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 32px;
}
.card-notifications {
  background-color: #d3d3d3;
  border-radius: 0 0 0 10px;
}
ul {
  padding: 0;
  margin: 0;
}
.top-bar > h3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
}
.image {
  width: 22px;
}
.li {
  padding: 17px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
