.container {
  border: solid rgba(161, 163, 171, 0.63);
  background-color: rgba(245, 248, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 26px;
  height: 761px;
  overflow: hidden;
  position: relative;
}
.list-task {
  padding: 20px;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.15px;
  text-align: left;
  color: rgba(255, 103, 103, 1);
}
button {
  background: none;
  border: none;
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button > p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: rgba(161, 163, 171, 1);
}
.image {
  margin-right: 5px;
}
.task {
  display: grid;
  grid-template-columns: 45% 45%;
  row-gap: 0%;
  column-gap: 5%;

  max-height: 650px; /* Ограничиваем высоту */
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
}
.today {
  margin-bottom: 8px;
}
