.container {
	border: solid rgba(161, 163, 171, 0.63);
	background-color: rgba(245, 248, 255, 1);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 26px;
	height: 761px;
	overflow: hidden;
	position: relative;
	width: 90%;
	display: grid;
	gap: 50px;
	grid-template-columns: 45% 45%;
}

.list-task {
	padding: 20px;
	box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.04);
	border-radius: 14px;
	width: 100%;
}

.top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.todo {
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 18.15px;
	text-align: left;
	color: rgba(255, 103, 103, 1);
}

button {
	background: none;
	border: none;
}

.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button>p {
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.52px;
	text-align: left;
	color: rgba(161, 163, 171, 1);
}

.image {
	margin-right: 5px;
}

.task {
	display: grid;
	grid-template-columns: 95%;
	row-gap: 0%;
	column-gap: 5%;
	max-height: 650px;
	overflow-x: hidden;
	overflow-y: auto;
}

.today {
	margin-bottom: 8px;
	display: flex;
	align-items: start;
}

.height-diagram {
	max-height: 203px;
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 103, 103, 1);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 103, 103, 1);
}

* {
	scrollbar-color: rgba(255, 103, 103, 1);
}

.menu-actions {
	position: relative;
	z-index: 10;
}

.menu-actions>ul {
	top: -10px;
	left: 20px;
	border-radius: 8px;
	padding: 8px 5px;
	background-color: white;
	position: absolute;
	z-index: 20;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-actions>ul>li {
	font-family: Inter;
	font-size: 10px;
	font-weight: 400;
	line-height: 12.1px;
	text-align: left;
	list-style: none;
	margin-bottom: 5px;
	cursor: pointer;
}