.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weekday {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.15px;
  text-align: left;
  color: #000000;
}
.day-mount-year {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  color: #3abeff;
}
