.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 16px;

}
.inputWrapper > p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  margin-bottom: 9px;
}
.input {
  border-radius: 6px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  border: solid 1px #A1A3AB;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
}
