.container {
  display: block;
  background-color: #ff6767;
  z-index: 100;
  width: 100%;
  min-height: 911px;
  height: 100vh;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  margin-top: 150px;
}
p {
  padding: 0;
  margin: 0;
}
.content {
    position: relative;
    z-index: 20;
  
}
.content > img {
    margin-top: -43px;
  width: 86px;
  height: 86px;
  z-index: 1;
  object-fit: cover;
  border-radius: 50%;
  border: solid 1px #ffffff;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user > p {
  margin-top: 13px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  color: #ffffff;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 7px;
}
.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu-link {
  padding-top: 10px;
}
.logout {
  position: absolute;
  top: 0;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 2;
}
.logout-link {
  position: absolute;
  bottom: 5px;
  bottom: 31px;
}
